h1,
h2,
h3,
p,
ol,
ul,
body {
margin: 0;
}

ol,li{
    list-style: none;
    padding: 0;
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__link {
    display: flex;
    justify-content: center;
    padding: 5px;
    text-decoration: none;
    color: #607D8B;
}

.nav__link:hover {
    color: black;
}

.nav__item {
    display: flex;
    align-items: center;
}

.nav__img {
    width: 20px;
    height: 20px;
    filter: invert(1) brightness(0.75);
    margin: 0 8px;
}

.nav__img-home {
    width: 17px;
    height: 17px;
    transform: translateY(-2px);
    filter: invert(1) brightness(0.5);
}

.nav__img-home:hover {
    filter: none;
}